@import '../../layouts/colours.scss';

%border-emphasis {
  color: $hot-pink;
  text-decoration: underline $hot-pink;
}

.navLink {
    color: $jet;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 1em;
    margin-top: 0.6em;
    &:hover {
      @extend %border-emphasis;
    }

    &.active {
      @extend %border-emphasis;
    }
}

