@import '../../layouts/colours.scss';

%border-emphasis {
  color: $hot-pink;
}

.navLink {
    color: $jet;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 1em;
    margin-top: 0.6em;
    margin-bottom: -1.4em;
    border-right: solid 0.1em $light-gray;
    padding-right: 1em;

    &:hover {
      @extend %border-emphasis;
    }

    &.active {
      @extend %border-emphasis;
    }

    &:last-child {
      border-right: none;
    }
}

