@import '../../styles/colours.scss';

.root {
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;

  a {
    font-size: 0.9em;
    color: $dark-gray;
    padding: 0.5em;
    margin-right: 1em;
    border-radius: 6em;
    text-decoration: none;

    &:hover {
      color: $nav-gray;
      background-color: $hot-pink;
    }

    &.active {
      background-color: $hot-pink;
      color: $nav-gray;
    }
  }
}


