@import '../../styles/colours.scss';

.root {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  background-color: $nav-gray;
  z-index: 1;
  height: 100%;

  a {
    font-size: 0.9em;
    color: $dark-gray;
    padding: 0.5em;
    text-decoration: none;

    &:hover {
      color: $nav-gray;
      background-color: $hot-pink;
    }
  }
}
