@import '../styles/colours.scss';

.verticalTimeline {
  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0.1em;
    border-left: 0.1em dotted $light-gray;
  }
}
  
