@import '../layouts/colours.scss';

@mixin timeline-dot {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 5em;
  opacity: 0.7;
  z-index: 1;
  transition: opacity 1s, transform .2s ease-in-out;

  &:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.verticalTimeline {
  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0.1em;
    border-left: 0.1em dotted $light-gray;
  }

  
  .projects {
    @include timeline-dot;
    
    .inline-text {
      position: absolute;
      top: 1.8em;
      left: 0.8em;
      font-size: 1.8em;
      color: white;
    }

  }

  .talks {
    @include timeline-dot;
       
    .inline-text {
      position: absolute;
      top: 2em;
      left: 1.4em;
      font-size: 1.8em;
      color: white;
    } 
  }
}

.inline-heading {
  display: flex;
  flex-direction: row;
}

