@import '../../layouts/colours.scss';

.entry {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 5em;
  opacity: 0.7;
  z-index: 1;
  transition: opacity 1s, transform .2s ease-in-out, margin .5s ease-in-out;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  img {
    cursor: pointer;
  }

  .inlineText {
    cursor: pointer;
    position: absolute;
    top: 1.8em;
    left: 17%;
    right: 17%;
    font-size: 1.8em;
    color: white;
  }
}

.selected {
  opacity: 1 !important;
  margin-top: 15em !important;
  margin-bottom: 10em !important;
  transform: scale(1.1);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.detailText {
  visibility: visible; 
  opacity: 1;
  max-width: 30%;
  margin: 0 auto;
  position: relative;
 
  &:nth-of-type(1) {
    top: 2em;
    right: 2em;

    @media(min-width: 30em) {
      bottom: 3em;
      left: 13em;
    }
  }

  .heading {
    img {
      float: left;
      margin-right: 0.5em;
    }

    h1 {
      position: relative;
      bottom: 2em;
      left: 2.6em;

      @media(min-width: 30em) {
        left: 2.2em;
      }
    }
  }


}
 
.subtitle {
  border-top: 0.03em solid $hot-pink;
  font-style: italic;
  font-size: 0.8em;
  color: darkgray;
  position: relative;
  bottom: 5em;
  left: 6em;
}
