@import url('https://fonts.googleapis.com/css?family=Lato');
@import '../layouts/colours.scss';

$lato: 'Lato', sans-serif;

html, body {
  padding: 0;
  margin: 0;
  background-color: $very-light-blue-grey;
  font-family: $lato;
}

h1 {
  margin: auto;
  padding: 1%;
}
