@import '../../styles/colours.scss';

@mixin inline-icon($url) {
  background: url($url) no-repeat;
  width: 33%;
  height: 100%;
  background-size: contain;
  opacity: 0.3;
  transition: opacity 1s, transform .2s ease-in-out;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.row {
  z-index: 1;
  background-color: white;
  padding: 1em;
  display: flex;
  border-radius: 1em;
  border: $light-gray dotted 0.1em;
  margin: 0 auto;
  margin-top: 1em;

  img {
    padding-right: 1em;
  }
}

.inlineIcons {
  margin-top: 1em;
  height: 25%;
  display: flex;
  flex-direction: row;
}

.linkedin {
  @include inline-icon('./assets/linkedin.png');
}

.twitter {
  @include inline-icon('./assets/twitter.png');
}

.github {
  @include inline-icon('./assets/github.png');
}
